// --------------------------------------------------------------------------*
// Lista de colores sueltos
// --------------------------------------------------------------------------*
$principal: #161616;
$secundario: rgba(0, 0, 0, 0.925);
$white: #fff;
$red: #7B0909;
// $cuadro_probablemente: #ff776a;
// $cuadro_total: #ffb8ac;
// Módulo del Slide entidades financieras