@import url("https://fonts.googleapis.com/css2?family=Maitree:wght@300;400;600&family=Mitr&family=Prompt&family=Roboto:wght@900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Oswald:wght@700&display=swap');
$font_maitree: "Maitree",
serif;
$font_mitr: "Mitr",
sans-serif;
$font_prompt: "Prompt",
sans-serif;
$font_roboto: "Roboto",
sans-serif;
$font_eczar: "Eczar",
serif;
$font_oswald: "Oswald",
sans-serif;