footer
  .credits
    .container.container-footer
      .row
        .col.s12
          p <b>Mariscal Ramón Castilla, la provincia peruana que enfrenta la pandemia en total abandono </b> es una investigación de:
          img.img.footer_1(src="img/footer_1.png" layout='responsive' decoding="async" loading="lazy")
          img.img(src="img/footer_2.png" layout='responsive' decoding="async" loading="lazy")
          p.footer_text Dentro de 
          img.img(src="img/footer_3.png" layout='responsive' decoding="async" loading="lazy")
          p.footer_text Con el apoyo de 
          img.img(src="img/footer_4.png" layout='responsive' decoding="async" loading="lazy")
      .row.mt-14
        .col.s12.max-width-footer
          p <span class="text-span"><b>Redacción: </b></span><a href="https://twitter.com/Pam_mdf" target="_blank">Pamela Huerta </a>
          p <span class="text-span"><b> Fotografía: </b></span>Marco Cotrina
          p <span class="text-span"><b> Desarrollo web y visualizaciones: </b></span> <a href="https://twitter.com/geny_leong" target="_blank">Génesis León </a>
          p <span class="text-span"><b> Desarrollo Mapa de actores: </b></span> Renzo Neira
          p <span class="text-span"><b> Edición: </b></span><a href="https://twitter.com/alonsomarin7" target="_blank"> Alonso Marín     </a> 
          p <span class="text-span"><b> Video: </b></span>Joaquina Izaguirre 
          p <span class="text-span"><b> Diseño: </b></span>Jazmín Ceras
          p <span class="text-span"><b> Acompañamiento editorial: </b></span> <a href="https://www.connectas.org/equipo-connectas/" target="_blank">Equipo Connectas </a>
      .row.mt-14
        .col.s12
          p.font-italic Esta investigación fue realizada por Pamela Huerta para La República y CONNECTAS, dentro de ARCO, con el apoyo del International Center for Journalists (ICFJ) en el marco de  la Iniciativa para el Periodismo de Investigación de las Américas.
