nav
  .nav-wrapper
    a.brand-logo(href='https://data.larepublica.pe/') 
      img(src="img/logo_navegador.png" layout='responsive' decoding="async" loading="lazy")
    ul.right.hide-on-med-and-down#nav-mobile
      li
        a.popup(href='https://www.facebook.com/sharer/sharer.php?u=https://data.larepublica.pe/14n-una-deuda-sin-saldar-recuento-heridas-aun-abiertas-y-lenta-justicia/&amp;src=sdkpreparse' title='')
          img.social-icon(src="img/facebook-white.svg")
      li
        a.popup(href='https://twitter.com/intent/tweet?text=14N, una deuda sin saldar: Recuento de heridas aún abiertas y una lenta justicia.&hashtags=1AñoSinJusticia&url=https://data.larepublica.pe/14n-una-deuda-sin-saldar-recuento-heridas-aun-abiertas-y-lenta-justicia/&via=larepublica_pe')
          img.social-icon(src="img/twitter-white.svg")