- var site_url = "https://data.larepublica.pe/14n-una-deuda-sin-saldar-recuento-heridas-aun-abiertas-y-lenta-justicia/"
- var site_title = "14N, una deuda sin saldar: Recuento de heridas aún abiertas y una lenta justicia | La República"
- var site_description = "A un año de la jornada que desencadenó el fin del corto régimen de Manuel Merino nos preguntamos: ¿por qué aún no hay justicia para las familias de los jóvenes asesinados, Inti y Bryan, ni para las decenas de heridos que dejó la violencia policial?"
- var site_keywords = "Inti, Bryan, protestas, Merino, #1AñoSinJusticia, represión policial, conflictos sociales, Perú"
- var site_author = "Génesis León"
- var client_name = "La República"
