#datos_container
  .container 
    .row.mt-21
      .col.s12.datos_denuncias#dato_4
        .number 11
        .text
          p policías han sido incluidos en la investigación hasta la fecha. Los oficiales son acusados por los delitos contra la vida, el cuerpo y la salud en contexto de graves violaciones a derechos humanos.            
      .col.s12.datos_denuncias#dato_5
        .number 44
        .text
          p declaraciones y 54 fuentes documentales forman parte del sustento de la denuncia constitucional contra Manuel Merino, Ántero Flores-Aráoz y Gastón Rodríguez.
      .col.s12.datos_denuncias#dato_6
        .number 80
        .text 
          p víctimas figuran en la denuncia penal por los hechos ocurridos en el Centro de Lima entre el 10 y el 15 de noviembre de 2020. Aún hay otras personas afectadas en proceso de identificación.