#datos_container
  .container 
    .row.mt-21
      .col.s12.datos_hechos#dato_1
        .number 8
        .text
          p días consecutivos se movilizaron los ciudadanos masivamente en contra del Gabinete Merino y el abuso policial empleado             
      .col.s12.datos_hechos#dato_2
        .number 78
        .text
          p desaparecidos reportó la coordinadora de Derechos Humanos en colaboración con los ciudadanos que denunciaban usando las redes sociales.
      .col.s12.datos_hechos#dato_3
        .number +126
        .text 
          p heridos identificados entre graves y leves fueron atendidos por el Ministerio de Salud 