.B2bNav
    include ../layout/header.pug
.wrapper
  #fadingPortada.portada-styled
    img(src="img/portada/img_1.webp")
    img(src="img/portada/img_2.webp")
    img(src="img/portada/img_3.webp")
    img(src="img/portada/img_4.webp")
    img(src="img/portada/img_5.webp")
    img(src="img/portada/img_6.webp")
    img(src="img/portada/img_7.webp")
    img(src="img/portada/img_8.webp")
    img(src="img/portada/img_9.webp")
    img(src="img/portada/img_10.webp")
    img(src="img/portada/img_11.webp")
    img(src="img/portada/img_12.webp")
    h1 Especial 14N