#testimonios_container 
  .row_collage 
    .column_collage 
      img(src="img/portada/img_6.webp")
    //-   img(src="img/portada/img_2.webp")
    //-   img(src="img/portada/img_3.webp")
    //- .column_collage 
    //-   img(src="img/portada/img_4.webp")  
    //-   img(src="img/portada/img_5.webp")
    //-   img(src="img/portada/img_6.webp")    
    //- .column_collage            
    //-   img(src="img/portada/img_7.webp")
    //-   img(src="img/portada/img_8.webp")
    //-   img(src="img/portada/img_9.webp")
    //- .column_collage      
    //-   img(src="img/portada/img_10.webp")
    //-   img(src="img/portada/img_11.webp")
    //-   img(src="img/portada/img_12.webp")
  .container    
    .row    
      .carousel.carousel-slider.center(data-indicators='true')
        .carousel-fixed-item.center.middle-indicator
          .left
            a.movePrevCarousel.middle-indicator-text.content-indicator(href='Previo')
              i.material-icons.left.small arrow_back
          .right
            a.moveNextCarousel.middle-indicator-text.content-indicator(href='Siguiente')
              i.material-icons.right.small arrow_forward
        .carousel-item.white-text#slide_1(href='#one!') 
          .col.s12.m4.l3
            .card
              .card-image.waves-effect.waves-block.waves-light#1
                img(src='img/slide_2/foto_1.webp')          
          .col.s12.m4.l3
            .card
              .card-image.waves-effect.waves-block.waves-light#2
                  img(src='img/slide_2/foto_2.webp')
          .col.s12.m4.l3
            .card
              .card-image.waves-effect.waves-block.waves-light#3
                  img(src='img/slide_2/foto_3.webp')
          .col.s12.m4.l3
            .card
              .card-image.waves-effect.waves-block.waves-light#4
                  img(src='img/slide_2/foto_4.webp')
          .col.s12
            .card.testimonio_card
              i.material-icons.left.medium.white-text.dialog-icon play_arrow 
              .card-content.black-text.visible#testimonio_content_1  
                h4.name Samuel Giraldo Mucha            
                h3 “Estaba viendo que mis planes estaban truncados”
                p La vida en pausa. Un año después de las marchas, Samuel Giraldo, un bailarín de la Escuela Superior de Ballet, convive con barras y clavos de titanio en su pierna. Con requerimientos de una próxima cirugía y los intentos por volver a pararse en puntillas, espera recuperarse, aunque reitera que su carrera, como la de un futbolista, requiere entrenamiento. Desde noviembre de 2020, ha perdido técnica y el apoyo del Estado se tornó en un proceso burocrático, en el que él mismo tuvo que buscar otros mecanismos para recuperarse.
                p Ha pasado de la angustia a la tristeza. Estos doce meses se resumen en la desconfianza hacia sí mismo: “Sufrí demasiado en el proceso de recuperación. Tuve ansiedad por mi futuro, estaba viendo que mis planes estaban truncados, mis planes y proyectos, por algo que no debió pasar”. Y aunque ha comenzado a recuperar la movilidad, todavía requiere análisis y otros tratamientos. “Estoy volviendo poco a poco. Pero aún debo ser paciente, hasta que la pierna acabe de regenerarse”, expresa. 
              .card-content.black-text#testimonio_content_2
                h4.name Lucio Ricardo Suárez   
                h3 “No solo yo me he visto afectado”
                p Recuerdos del impacto. Lucio Ricardo Suárez, un joven universitario de 26 años, lleva cuatro perdigones en el cuerpo, uno de ellos alojado en el cráneo que lo hace sentir como si tuviera una “bomba de tiempo”, cuyos minutos lo llevan a vivir en la incertidumbre, sin un futuro claro: “Es algo incierto, los doctores no me dijeron qué podría pasar más adelante, siempre me afecta. Es un temor que está presente”, reflexiona. 
                p Aunque el seguro integral de salud corrió con algunos de los gastos, no tuvo mayor apoyo y ha tratado de superar esa etapa con sus estudios y el trabajo. Se siente mejor, es verdad, pero teme que más adelante vaya a quedar postrado en cama. A un año de lo ocurrido, exige una reparación civil y que no archiven el caso contra los involucrados. En su pedido de ayuda, se esboza un nosotros: “No solo yo me he visto afectado”. 
              .card-content.black-text#testimonio_content_3
                h4.name Jon Abel Cordero
                h3 “Pido que los implicados estén presos”
                p Desde el 14 de noviembre de 2020, Jon Cordero, quien participó como desactivador de bombas, no puede ponerse de pie. Un perdigón policial le causó una lesión medular. Hoy, una de sus piernas permanece inmóvil, mientras que la otra sólo realiza algunos movimientos de la rodilla hacia arriba. 
                p Con recuerdo latente de esa fecha, el descanso le huye, pues sufre de problemas neuropáticos y emocionales que le impiden descansar. “Aún no acepto mi condición. No me gusta salir a la calle, no me gusta que me vean”, señala. Pero la lesión también afectó la vejiga, la próstata y los riñones: usa un catéter en intervalos de tiempo. Con un seguro otorgado por el Estado, que solo cubre parcialmente la rehabilitación, Cordero debe pagar  sus gastos, con apoyo de sus familiares y sin trabajo. La justicia, por la que salió a marchar, le ha sido ajena. Aún así exhorta: “Pido que los implicados estén presos y justicia para todos los heridos”.
              .card-content.black-text#testimonio_content_4
                h4.name Albert Ñahui Pérez 
                h3 “Siento presión en la cabeza, me cansa la vista”
                p Una vida modificada. Un joven de 23 años, que salía a hacer deporte y estuvo dos años en la Marina, solo observa una malla negra en uno de sus ojos, apenas unos puntos blancos logra observar. Él recibió unos perdigones que le rompieron el cráneo, con una pérdida del 70% de la visión del ojo izquierdo y la nariz fracturada. Doce meses después, y tras dos operaciones, vive con las secuelas y unas constantes presiones en la cabeza. 
                p Su día a día se ha modificado, no hace ejercicio como lo hacía antes, se le dificulta estudiar.  “Siento presión en la cabeza, me cansa la vista, me lagrimea, tengo que usar lentes”, agrega. Y, aunque emocionalmente sigue adelante, el cuerpo le recuerda que aún no se recupera. Albert pide un seguro de por vida, por temor a las secuelas que pueda desencadenar tras las dos intervenciones quirúrgicas en el cráneo, donde tiene alojado una placa de titanio.
        .carousel-item.white-text#slide_2(href='#two!')
          .col.s12.m4.l3
            .card
              .card-image.waves-effect.waves-block.waves-light#1
                img(src='img/slide_2/foto_1.webp')          
          .col.s12.m4.l3
            .card
              .card-image.waves-effect.waves-block.waves-light#2
                  img(src='img/slide_2/foto_2.webp')
          .col.s12.m4.l3
            .card
              .card-image.waves-effect.waves-block.waves-light#3
                  img(src='img/slide_2/foto_3.webp')
          .col.s12.m4.l3
            .card
              .card-image.waves-effect.waves-block.waves-light#4
                  img(src='img/slide_2/foto_4.webp')
          .col.s12
            .card.testimonio_card
              i.material-icons.left.medium.white-text.dialog-icon play_arrow 
              .card-content.black-text.visible#testimonio_content_1   
                h4.name Alonso Paéz            
                h3 “Quedé con una herida psicológica que no ha sanado”
                p Hace un año, Alonso Paéz fue herido por perdigones durante las manifestaciones del 14N. Uno impactó en su frente, otros en sus piernas. Desde entonces ha tenido que lidiar con los estragos de la violencia policial. Su experiencia fue dura y dejó en él una marca imborrable. Pese a que pudo cubrir su propia atención médica, hasta hoy enfrenta las secuelas psicológicas causadas por los proyectiles.
                p En su caso, el refugio ha sido la música, una de sus grandes pasiones. “Para mí ha pasado mucho tiempo, ha sido un año largo combatiendo los recuerdos tan horribles de esos días. Tuve suerte al poder ser atendido luego de que me dispararan esos perdigones. Muchos aún no han encontrado la manera de costear la atención clínica. Pero sí diría que quedé con una herida psicológica que no ha sanado. Intento manejarlo cada día. Soy productor musical y el arte me ayuda mucho”, relata.
              .card-content.black-text#testimonio_content_2
                h4.name Hanns Licera
                h3 "El SIS nunca se hizo cargo"
                p Luego de sufrir una fractura en las manifestaciones del 14N, Hanns Licera buscó la manera de recibir apoyo por parte de las autoridades. El SIS, llamado a cubrir los gastos de las operaciones a las que tuvo que someterse, se limitó a decirle que no había personal. Como varios de los heridos, frente a la indiferencia, optó por hacerse cargo por su propia cuenta, a través de préstamos que se vio en la obligación de solicitar. Hasta hoy continúa llevando terapias físicas para recuperar la movilidad de su pierna derecha.
                p Define su caso como una historia de negligencia. “Insistí muchas veces, pero el SIS nunca se hizo cargo. Siempre me decían que había una razón para que no puedan atenderme. Es sobre todo negligencia. Las consecuencias de lo que pasó en la manifestación las sufro hasta ahora, los dolores aparecen de vez en cuando y las terapias son un proceso largo. Es una recuperación complicada”, narra.
              .card-content.black-text#testimonio_content_3
                h4.name Kevin Huamán
                h3 “Hasta hoy no recibo apoyo concreto de ninguna autoridad”
                p Una bomba lacrimógena impactó en el rostro de Kevin Huamán durante la jornada de protesta del 14N. Ha pasado un año y hasta el momento no puede recuperarse por completo. Necesita realizarse una operación en la nariz que le es inaccesible por las limitaciones económicas. Pese a que fue contactado por las autoridades, el joven de 26 años lamenta que hasta hoy no reciba apoyo concreto de nadie.
                p La deuda con casos como el suyo sigue pendiente. “Me llamaron varias veces para preguntarme cómo estaba, pero no he recibido ayuda concreta hasta ahora. Lo que pasó ese día fue muy fuerte, lo sigo recordando aunque haya pasado un año. Muchos de mis compañeros tampoco han logrado recibir apoyo de algún tipo. Yo necesito una respuesta para cubrir los gastos de mi operación. Todo eso me ha quitado oportunidades”, revela.
              .card-content.black-text#testimonio_content_4
                h4.name Gloria Alejandro Yañez
                h3 “Los dolores musculares todavía persisten”
                p Pese al paso del tiempo, las heridas de Gloria Alejandro Yañez se mantienen vigentes. Durante los episodios de violencia policial, sufrió una fractura en el peroné de la que aún no se ha recuperado. No pudo caminar por medio año, y muchos de sus pedidos de apoyo para costear el tratamiento clínico fueron ignorados. Vio el mundo de otra manera durante esos meses, debido a que pasó a desplazarse con la ayuda de una silla de ruedas. Hasta hoy sigue recibiendo terapias físicas que, poco a poco, le brindan una esperanza para retomar sus actividades íntegramente.
                p Todavía espera una reparación. “Con mi familia tuvimos que gastar miles de soles en cirugías, dinero que hasta hoy no hemos recuperado. Ha pasado un año y el Estado no se ha hecho cargo de muchos de nosotros, nos ha dado la espalda, cuando fue la propia Policía quien nos atacó de forma desmedida. En mi caso, los dolores musculares todavía persisten. Queremos justicia, que llegue antes de que sea más tarde”, lamenta.