#timeline_container 
  .row_collage 
    .column_collage 
      img(src="img/portada/img_9.webp")
  .container
    .timeline_wrap
      #this_timeline.pres_timeline
        .periods_container
          section.period_single(period='period1')
            h4.year LUNES 9 DE NOVIEMBRE 2020
            h2.title El congreso de La República aprueba la vacancia de Martin Vizcarra con 105 votos a favor.
            //- p
            //-   | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium doloremque, laboriosam officia facere eligendi quam reiciendis, rem explicabo dolores tenetur libero minus, facilis quibusdam. Consectetur amet beatae fuga, architecto magnam.
          section.period_single(period='period2')
            h4.year MARTES 10 DE NOVIEMBRE 2020
            h2.title Movilizaciones masivas e inicio de la represión
          section.period_single(period='period3')
            h4.year MIÉRCOLES 11 DE NOVIEMBRE 2020
            h2.title Primeros heridos de gravedad y un Congreso que se niega a citar a sus altos mandos
          section.period_single(period='period4')
            h4.year JUEVES 12 DE NOVIEMBRE 2020
            h2.title Se realiza la primera gran marcha nacional
          section.period_single(period='period5')
            h4.year VIERNES 13 DE NOVIEMBRE 2020
            h2.title Organización, solidaridad y censura.
          section.period_single(period='period6')
            h4.year SÁBADO 14 DE NOVIEMBRE 2020
            h2.title Segunda gran marcha nacional: manifestantes desafiantes y violaciones de DD.HH
          section.period_single(period='period7')
            h4.year DOMINGO 15 DE NOVIEMBRE
            h2.title El país se paraliza y Merino de Lama anuncia su renuncia
          section.period_single(period='period8')
            h4.year LUNES 16 DE NOVIEMBRE
            h2.title La protesta continua mientras en el congreso se negocian votos
          section.period_single(period='period9')
            h4.year MARTES 17 DE NOVIEMBRE
            h2.title Queda pendiente la reforma policial y la responsabilidad política
          .btn_back
          .btn_next
        .timeline_container
          .timeline
          .btn_back
            svg(width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg')
              path(fill='none' d='M0 0h30v30H0z')
              path(fill='#D8D8D8' fill-rule='evenodd' d='M11.828 15l7.89-7.89-2.83-2.828L6.283 14.89l.11.11-.11.11L16.89 25.72l2.828-2.83')
          .btn_next
            svg(width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg')
              path(fill='none' d='M0 0h30v30H0z')
              path(fill='#D8D8D8' fill-rule='evenodd' d='M18.172 14.718l-7.89-7.89L13.112 4l10.606 10.607-.11.11.11.11-10.608 10.61-2.828-2.83 7.89-7.89')
        .cards_container
          section.card.card_single.active(period='period1')
            h4.year DÍA 1
            //- h2.title Lorem ipsum dolor sit amet.
            .content
              p Ciudadanos en todo el país salen a manifestarse en contra de la decisión del Congreso. Se hacen plantones y cacerolazos.
              .content_tweet
                blockquote.twitter-tweet(width=330)
                  p(lang='es' dir='ltr')
                    a(href='https://twitter.com/hashtag/VacanciaPresidencial?src=hash&ref_src=twsrc%5Etfw') #VacanciaPresidencial
                    |  Un grupo de personas protesta en las principales calles de Cusco, en rechazo a la vacancia del presidente Martín Vizcarra. Los manifestantes entonan el himno nacional y son resguardados por la policía. 
                    br
                    | Fotos: 
                    a(href='https://twitter.com/clarys_cardenas?ref_src=twsrc%5Etfw') @clarys_cardenas
                    a(href='https://t.co/Q6vKWaWmRr') pic.twitter.com/Q6vKWaWmRr
                  | — OjoPúblico (@Ojo_Publico) 
                  a(href='https://twitter.com/Ojo_Publico/status/1325984583674978304?ref_src=twsrc%5Etfw') November 10, 2020
                script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
          section.card.card_single(period='period2')
            h4.year DÍA 2
            //-h2.title Lorem ipsum dolor sit amet.
            .content
              p
                | Las movilizaciones masivas se concentran desde las 8.00 a. m. en contra de la asunción de Manuel Merino como presidente. Inician las convocatorias en otras regiones. Amnistía Internacional exige a las autoridades garantizar los derechos fundamentales de las personas a raíz de videos, testimonios y fotografías en las que se observa abuso policial.                 
              p “Como colectivas feministas nos organizamos y preparamos diseño de caminata, con pañuelos blancos y performances. La consigna era activar con el ciudadano de a pie pero ya desde la mañana hubo una fuerte represión, las bombas te obligaban a quitarte la mascarilla y descuidar cualquier protocolo anti-COVID”, comenta una de las manifestantes e integrante de la Coordinadora 14N.
          section.card.card_single(period='period3')
            h4.year DÍA 3
            //- h2.title Lorem ipsum dolor sit amet.
            .content
              p
                | Mientras miles de ciudadanos protestan durante el día en los alrededores del Centro de Lima y otros distritos a través de “cacerolazos”, la OEA y embajadas de varios países desconocen al gobierno de Merino. Estudiantes universitarios protestan frente a la SUNEDU por el temor a que se estanque la reforma universitaria. “La vacancia era un síntoma de la situación política y económica del país que ya no da para más. Los derechos de los estudiantes y los trabajadores siempre se postergan por la pugna de poder”, recuerda un alumno de la UNMSM que asistió a las protestas en Lima. 
              p En las redes sociales y medios periodísticos se comparten más vídeos de represión policial excesiva en distintos lugares del país como Madre de Dios donde se registraron más de 20 detenciones y un herido de gravedad. Se usaron carros que disparaban agua, motos en movimiento, perdigones de goma, gases lacrimógenos, golpes de vara, técnicas de amedrentamiento llamada “chicle”, entre otros. El Congreso rechaza citar al subcomandante general de la PNP, Jorge Lam Almonte, para explicar el abuso policial empleado.
          section.card.card_single(period='period4')
            h4.year DÍA 4
            //- h2.title Lorem ipsum dolor sit amet.
            .content
              p
                | Miles de estudiantes, trabajadores, profesionales y diversos colectivos salen a las calles para expresar su inconformidad con la clase política de derecha conservadora que ocupaba el gobierno. “Lo que se vio bastante fue la consigna ‘ni Merino ni Vizcarra, que se vayan todos’, lo cual reflejaba la denuncia contra el régimen político existente y una participación política crítica”, recuerda un miembro “Las Zonas”, uno de los colectivos ciudadanos presentes. La descentralización de la marcha fue posible ya que los ciudadanos se autoconvocaron durante todo el día en sus respectivos distritos. Diversos testimonios dan cuenta de que la PNP usó bombas lacrimógenas “distintas”, que generaban una sensación de atragantamiento en lugar del ardor acostumbrado, así como el esparcimiento de gas pimienta desde helicópteros.
              .content_tweet.content_left 
                blockquote.twitter-tweet
                  p(lang='es' dir='ltr')
                    | Marcha nacional contra el gobierno de Manuel Merino | EN VIVO 
                    a(href='https://t.co/Inw08OKwsU') https://t.co/Inw08OKwsU
                  | — La República (@larepublica_pe) 
                  a(href='https://twitter.com/larepublica_pe/status/1327036699218571264?ref_src=twsrc%5Etfw') November 12, 2020
                script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
              p Se hicieron disparos directamente al cuerpo de los manifestantes con armas potencialmente letales (bombas lacrimógenas, perdigones de goma, granadas lacrimógenas de mano) y municiones prohibidas (canicas de vidrio) que generaron lesiones leves y graves. Se denunció presencia de efectivos “terna” y uso de policía montada. Voces del gabinete Merino negaron estos hechos y aseguran que las protestas estaban siendo “incentivadas” y “organizadas” por grupos reaccionarios como el Movadef. “A medida de que la marcha se sostenía se incrementaba la necesidad de ir. Sentíamos que a la clase política no le interesaba el país, había mucha indignación por la represión desmedida ante las marchas pacíficas”, recuerda una manifestante.
          section.card.card_single(period='period5')
            h4.year DÍA 5
            //-h2.title 
            .content
              p Después de la primera gran marcha nacional, el Centro de Lima comienza a abarrotarse cada vez más de intervenciones político-culturales en postes, pistas y paredes ya que al ser tantas cada día se había vuelto más difícil de borrar durante la madrugada. “Fue bastante importante la toma de la ciudad, transgredir los signos de la idea fría de lo que era el buen vivir, mucho de lo que fue intervenido era el ornato público. Si no hay estabilidad política se va a reflejar en cómo está la ciudad”, recuerda un integrante del colectivo Las Zonas. 
              p El gerente de Prensa de IRTP, Renzo Mazzei, denuncia que recibió una llamada del Gobierno para que el Canal 7 no continúe informando sobre las marchas. Las movilizaciones tuvieron como objetivo las viviendas de Manuel Merino y de su primer ministro Antero Florez, así como las sedes de algunos medios de comunicación. 
              p A su vez se observa bastante solidaridad entre los ciudadanos ya sea con donaciones, banderas en viviendas, equipos de protección para contener la represión, etc. Ciudadanos individuales y colectivos comienzan a organizarse para sostener otra gran marcha. Se arman grupos de Whatsapp y Telegram donde compartían vídeos de Tik Tok y flyers con información sobre cómo desactivar bombas con ejemplos de Hong Kong y Chile, así como de brigadas médicas de manera rápida y autodidacta.“Hubo un sentimiento de apoyo fuerte en las calles, las personas iban y ayudaban en primeros auxilios, era sorprendente la cantidad de gente que sin conocerte se interesaba por ti, hubo mucha unión desde la ciudadanía”, comenta una manifestante.
          section.card.card_single(period='period6')
            h4.year DÍA 6
            //- h2.title Lorem ipsum dolor sit amet.
            .content
              p Se ve presencia de vehículos antimotines de las FF. AA. y de la PNP en varios distritos de la capital. Las personas llegan al Centro de Lima ocupando toda la avenida Nicolás de Piérola desde la Plaza Dos de Mayo hasta la avenida Abancay. “Desde la primera marcha se bloquearon las redes telefónicas por la periferia de la plaza San Martín, la gente no se podía comunicar. Había un pánico colectivo de alejarnos de la policía a como de lugar. Ellos golpeaban sin responsabilidad en todas partes de Lima”, comenta otra manifestante que asistió a ambas convocatorias. 
              p Alrededor de las 8.00 p. m., a la altura del parque universitario, se registra el uso indiscriminado de bombas lacrimógenas hacia periodistas, brigadistas de primeros auxilios y ciudadanos y se reporta el corte del alumbrado público. “Nos gasearon por plaza San Martín, escuchamos disparos y hubo una especie de tranquilidad, nos acercamos a Colmena por Lampa y sonaron ambulancias. Tuvimos que volver porque seguían reprimiendo, nos persiguieron hasta Tacna”, comenta otra manifestante presente. En esos momentos, se reporta el primer fallecido, Jack Bryan Pintado Sánchez (22), producto de 10 heridas penetrantes por proyectiles de arma de fuego que le causaron una hemorragia interna y la muerte casi inmediata.  
              p Las manifestaciones continúan en todo el país y las personas en primera línea, quienes mantenían el objetivo de llegar al Congreso hacen uso de artefactos pirotécnicos y diversos objetos para responder a los numerosos perdigones y bombas lacrimógenas que la PNP arrojaba hacia el cuerpo de los manifestantes mientras diversas figuras políticas y organismos internacionales expresan rechazo al gobierno de Merino y a las violaciones de derechos humanos cometidas.  
              p Al promediar las 10.00 p. m., Jordan Inti Sotelo Camargo (24) recibe un impacto de proyectil de arma de fuego a la altura del tórax y es trasladado al hospital Grau, pero murió en el trayecto. Confirmado el segundo fallecido, decenas de manifestantes llegan al Congreso escoltados por la PNP, una vez al frente se dan la mano con algunos policías y permanecen sentados de forma pacífica. Minutos después son cercados con rejas y reprimidos con bombas lacrimógenas y perdigones. También se registraron detenciones.
          section.card.card_single(period='period7')
            h4.year DÍA 7
            //- h2.title Lorem ipsum dolor sit amet.
            .content
              //- img(src='https://ununsplash.imgix.net/photo-1421284621639-884f4129b61d?fit=crop&fm=jpg&h=700&q=75&w=1050' alt='')
              p
                | Durante casi toda la madrugada se armaron y reportaron bases de datos con decenas de heridos y desaparecidos. En las redes se difunden videos e imágenes que dan cuenta del abuso policial. La familia de uno de los fallecidos y el periodista Alonso Chero denuncian acoso policial en su domicilio. Alrededor del mediodía, Manuel Merino dimite al cargo de presidente después de la renuncia de 13 de sus ministros.
              p A raíz del #14N, la ciudadanía plantea demandas más específicas por las que iban a continuar con la protesta. Se cuestionó la actual constitución. “La situación de descontento ayudó a que se levante desde un sentimiento común de que necesitamos un nuevo pacto social, discutir una constituyente es una oportunidad para cambiar este sistema desigual en el que vivimos.”.- comenta una manifestante perteneciente a la coordinadora14N. Otras demandas identificadas fueron la necesidad de una reforma policial y la búsqueda de justicia por los 2 fallecidos.
              p Durante la tarde, colectivos de ciclistas y cientos de manifestantes llegaron al Centro de Lima para cantar el himno nacional en señal de protesta. El Congreso acepta la renuncia de Merino y se elige la mesa directiva que ocupará su cargo, pero la sesión se posterga ante falta de votos hacia las listas. Por la noche hay vigilias. “El altar que luego rompieron los grupos antiderechos se construyó espontáneamente después de la muerte de los compañeros y la gente volvió a reconstruirlo, desde el muro de la vergüenza que se hizo en la dictadura no se vio algo así. Es importante que la ciudad recuerde lo que pasó y tenga lugares de memoria”, cuenta otra ciudadana que participó en la reconstrucción de dicho altar.
          section.card.card_single(period='period8')
            h4.year DÍA 8
            //- h2.title Lorem ipsum dolor sit amet.
            .content
              //- img(src='https://ununsplash.imgix.net/photo-1421284621639-884f4129b61d?fit=crop&fm=jpg&h=700&q=75&w=1050' alt='')
              p La ciudadanía continúa protestando en todo el país con diversas consignas: una nueva constitución, la reforma policial, así como justicia y reparación para los heridos, desaparecidos y fallecidos durante los días de protestas sociales. Durante la tarde, con 97 votos a favor, 26 en contra y 0 abstenciones, el congresista Francisco Sagasti del Partido Morado se convierte en el nuevo titular del Congreso y asume la Presidencia de la República por sucesión constitucional.                 
          section.card.card_single(period='period9')
            h4.year DÍA 9
            //- h2.title Lorem ipsum dolor sit amet.
            .content
              //- img(src='https://ununsplash.imgix.net/photo-1421284621639-884f4129b61d?fit=crop&fm=jpg&h=700&q=75&w=1050' alt='')
              p Francisco Sagasti jura como presidente interino y rinde homenaje a la llamada “generación bicentenario” y a los familiares de los dos fallecidos en las protestas. En su discurso asegura que las elecciones de abril de 2021 se realizarán sin contratiempos y que enfrentarán la crisis económica y sanitaria ocasionada por la pandemia, sin embargo no se refiere a la reforma policial.
              p Durante la tarde, la plaza San Martín vuelve a llenarse de manifestantes que expresan consignas como la indemnización para las familias de Inti y Bryan, denuncias contra los responsables políticos Merino de Lama, Flores Aráoz y Gastón Rodríguez, la eliminación de inmunidad parlamentaria, reforma policial, entre otras.